#red { color: #f37b84; font-size: 2rem; font-weight: bold;}  
#orange { color: #ffd98c; font-size: 2rem; font-weight: bold;}
#green { color: #9ff369; font-size: 2rem; font-weight: bold;}
#cyan { color: #59d5c4; font-size: 2rem; font-weight: bold;}
#blue { color: #2a8aff; font-size: 2rem; font-weight: bold;}
#purple { color: #b99aff; font-size: 2rem; font-weight: bold;}

#tasks { color: #5ec7ff; font-size: 25px;} 